.addClass {
    padding: 10px;
    background-color: #1fb4bf;
    color: black;
    border-radius: 5%;
    cursor: pointer;
}

.toprow {
    display: flex;
    justify-content: space-between;
}

.cardContainer {
    margin-top: 50px;
}

.cardTitle {
    font-size: xx-large;
    color: black;
}

// card css
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

body {
  padding: 60px 0;
  background-color: rgba(178,209,229,0.7);
  margin: 0 auto;
  width: 900px;
}
.body-text {
  padding: 0 20px 30px 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #333;
  text-align: center;
  line-height: 1.2em;
}
.form-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrapper {
  background-color: #6FB7E9;
  width: 100%;
  display: flex;

}
.personal-information {
  background-color: #3C8DC5;
  color: #fff;
  padding: 1px 0;
  text-align: center;
}
h1 {
  font-size: 1.3em;
  font-family: "Roboto"
}
input {
  margin: 1px 0;
  padding-left: 3%;
  font-size: 14px;
}
input[type="text"]{
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 4px;
}
input[type="number"]{
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 4px;
}
input[type="email"]{
  display: block;
  height: 50px;
  width: 97%;
  
}
input[type="submit"]{
  display: block;
  height: 60px;
  width: 100%;
  
  background-color: #3C8DC5;
  color: #fff;
  margin-top: 2px;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #6FB7E9;
  transition: 0.3s ease;
}
#column-left {
  width: 46.5%;
  float: left;
  margin-bottom: 2px;
}
#column-right {
  width: 46.5%;
  float: right;
}

.inputField {
  border: 1px solid black;
}
// card css
.card {
	background-color: #fff;
	border-radius: 4px;
	max-width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
	position: relative;
	padding: 34px;
	color: #444;
	cursor: pointer;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #ccc;
		left: 20px;
		right: 20px;
		bottom: 0;
		top: 50%;
		z-index: -1;
		box-shadow: 0 0 40px lighten(#000, 60%);
		transition: box-shadow .2s ease-in-out;
	}
	&.level-3 {
		&:hover {
			&:before {
				box-shadow: 0 0 80px lighten(#000, 60%);
			}
		}
	}
}
.textClass {
  border: 1px solid black;
}

.cardtitle {
  display: flex;
  justify-content: space-between;
}

.deleteClass {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.deleteHover:hover {
  color: red;
}
