.addClass {
    padding: 10px;
    background-color: #1fb4bf;
    color: black;
    border-radius: 5%;
    cursor: pointer;
}

.toprow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cardContainer {
    margin-top: 50px;
}

.cardTitle {
    font-size: xx-large;
    color: black;
}

.cardTitle2 {
  font-size: x-large;
  color: black;
  margin-bottom: 30px;
}

.updateBtn {
  margin-top: 50px;
  width: 80%;
  padding: 15px;
  border: 1px;
  background-color: #1fb5bf;
  border-radius: 25px;
  text-align: center;
  font-size: x-large;
}

.deleteIcon {
  margin-left: auto;
  cursor: pointer;
}

// card css
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

body {
  padding: 60px 0;
  background-color: rgba(178,209,229,0.7);
  margin: 0 auto;
  width: 900px;
}
.body-text {
  padding: 0 20px 30px 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #333;
  text-align: center;
  line-height: 1.2em;
}
.form-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrapper {
  background-color: #6FB7E9;
  width: 100%;
  display: flex;

}
.personal-information {
  background-color: #3C8DC5;
  color: #fff;
  padding: 1px 0;
  text-align: center;
}
h1 {
  font-size: 1.3em;
  font-family: "Roboto"
}
input {
  margin: 1px 0;
  padding-left: 3%;
  font-size: 14px;
}
input[type="text"]{
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 4px;
}
input[type="number"]{
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 4px;
}
input[type="email"]{
  display: block;
  height: 50px;
  width: 97%;
  
}
input[type="submit"]{
  display: block;
  height: 60px;
  width: 100%;
  
  background-color: #3C8DC5;
  color: #fff;
  margin-top: 2px;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #6FB7E9;
  transition: 0.3s ease;
}
#column-left {
  width: 46.5%;
  float: left;
  margin-bottom: 2px;
}
#column-right {
  width: 46.5%;
  float: right;
}

.inputField {
  border: 1px solid black;
}
// card css
.card {
	background-color: #fff;
	border-radius: 4px;
	// max-width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
	position: relative;
	padding: 34px;
	color: #444;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #ccc;
		left: 20px;
		right: 20px;
		bottom: 0;
		top: 50%;
		z-index: -1;
		box-shadow: 0 0 40px lighten(#000, 60%);
		transition: box-shadow .2s ease-in-out;
	}
	&.level-3 {
		&:hover {
			&:before {
				box-shadow: 0 0 80px lighten(#000, 60%);
			}
		}
	}
}
.textClass {
  border: 1px solid black;
}

.cardtitle {
  display: flex;
  justify-content: space-between;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.errorText {
  color: red;
  font-size: x-small;
  margin-left: 10px;
}


// new form test


.profilepress-edit-profile-status {
  width: 400px;
  text-align: center;
  background-color: #e74c3c;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

.memo-edprofile-success {
  width: 400px;
  text-align: center;
  background-color: #2ecc71;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

#sc-edprofile {
  background: #f0f0f0;
  width: 400px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#sc-edprofile h1 {
  background: #1fb5bf;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

div#sc-edprofile .sc-container {
  background: #f0f0f0;
  padding: 6% 4%;
}

div#sc-edprofile input[type="email"],
div#sc-edprofile input[type="text"],
div#sc-edprofile input[type="date"],
div#sc-edprofile input[type="password"], div#sc-edprofile select, div#sc-edprofile textarea {
  width:100%;
  background: #fff;
  // margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#sc-edprofile input[type="number"] {
  width:100%;
  background: #fff;
  // margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
  -moz-appearance: textfield;
}

// div#sc-edprofile select {
//   width: 100%;
// }

div#sc-edprofile textarea {
  height: 100px;
}

div#sc-edprofile input[type="submit"] {
  width: 100%;
  background: #1fb5bf;
  border: 0;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

div#sc-edprofile input[type="submit"]:hover {
  background: #2288bb;
}@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* css class for the edit profile generated errors */
.profilepress-edit-profile-status {
  width: 400px;
  text-align: center;
  background-color: #e74c3c;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

.memo-edprofile-success {
  width: 400px;
  text-align: center;
  background-color: #2ecc71;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

#sc-edprofile {
  background: #f0f0f0;
  width: 400px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#sc-edprofile h1 {
  background: #1fb5bf;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

div#sc-edprofile .sc-container {
  background: #f0f0f0;
  padding: 6% 4%;
}

div#sc-edprofile input[type="email"],
div#sc-edprofile input[type="text"],
div#sc-edprofile input[type="date"],
div#sc-edprofile input[type="password"], div#sc-edprofile select, div#sc-edprofile textarea {
  width: 100%;
  background: #fff;
  // margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

// div#sc-edprofile select {
//   width: 100%;
// }

div#sc-edprofile textarea {
  height: 100px;
}

div#sc-edprofile input[type="submit"] {
//   width: 85%;
  background: #3399cc;
  border: 0;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

div#sc-edprofile input[type="submit"]:hover {
  background: #1fb5bf;
}@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* css class for the edit profile generated errors */
.profilepress-edit-profile-status {
  width: 400px;
  text-align: center;
  background-color: #e74c3c;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

.memo-edprofile-success {
  width: 400px;
  text-align: center;
  background-color: #2ecc71;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

#sc-edprofile {
  background: #f0f0f0;
  width: 400px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#sc-edprofile h1 {
  background: #1fb5bf;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

div#sc-edprofile .sc-container {
  background: #f0f0f0;
  padding: 6% 4%;
}

div#sc-edprofile input[type="email"],
div#sc-edprofile input[type="text"],
div#sc-edprofile input[type="date"],
div#sc-edprofile input[type="password"], div#sc-edprofile select, div#sc-edprofile textarea {
  width: 100%;
  background: #fff;
  // margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

// div#sc-edprofile select {
//   width: 100%;
// }

div#sc-edprofile textarea {
  height: 100px;
}

div#sc-edprofile input[type="submit"] {
  width: 100%;
  background: #1fb5bf;
  border: 0;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

div#sc-edprofile input[type="submit"]:hover {
  background: black;
}

.editProfileForm {
    width: 800px !important;
}
.cardText {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-style: italic;
  color: black;
}

.inputTitle {
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 5px;
}
.required {
  color: #1fb5bf;
}
.optionalBtn {
  margin-bottom: 15px;
}
.optionalBtn2 {
  margin-top: 20px;
  margin-bottom: 15px;
}
.skipBtn {
  float: right;
  font-size: medium;
  color: #1fb5bf;
}

.skipText {
  cursor: pointer;
  
}
.errorText {
  color: red;
  font-size: x-small;
  margin-left: 10px;
}
.inputContainer {
  margin-bottom: 4%;
}
.errorTEXT {
  display: flex;
  justify-content: center;
  font-size: medium;
  color: red;
}

.newcard {
  width: 600px;
}

.formBorder {
  border: 1px solid black;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.cardFormWidth {
  width: 60%;
}

.cardsConatainer {
  // border: 1px solid;
  border-radius: 4px;
  padding: 10%;
  padding-top: 5%;
}

.cardsConatainer:hover {
  box-shadow: 0 0 80px lighten(#000, 60%);
}