<app-user-header></app-user-header>

<div>
    <form [formGroup]="cardForm">
        <div>
            <div class="row justify-content-center cardContainer" formArrayName="cardsArray">
                <div class="col-10">
                    <div class="toprow">
                        <div class="cardTitle"> CARD DETAILS </div>
                        <div class="addClass" (click)="addCard()">Add Card</div>
                    </div>
                    <div *ngFor="let card of cards.controls; let i = index" formGroupName="{{i}}" class="">
                        <div class="d-flex justify-content-center">
                            <div class="col-10">
                                <div class="formContainer">
                                    <div class="card level-3">
                                        <div>
                                            card Number <br>
                                            <input formControlName="cardNumber" class="textClass" type="text" />
                                        </div><br>
                                        <div class="row">
                                            <div class="col-6">
                                                <div>Exipry Month</div>
                                                <input formControlName="expiryMonth" type="number" />
                                            </div>
                                            <div class="col-6">
                                                <div>Expiry Year</div>
                                                <input formControlName="expiryYear" type="number" />
                                            </div>
                                        </div><br>
                                        <div>
                                            Name on Card <br>
                                            <input formControlName="nameOnCard" class="textClass" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button (click)="submit()"> submit </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>