.addPromoContainer {
    display: flex;
    justify-content: flex-end;
}

.addPromoButton {
    width: 180px;
    height: 40px;
    background-color: #1fb5bf;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    margin: 30px;
    margin-right: 85px;
    cursor: pointer;
}
.sendPromoButton{
    width: 180px;
    height: 40px;
    background-color: #1fb5bf;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    margin: 30px;
    cursor: pointer;
}
.existingPromoContainer {
    display: flex;
    // justify-content: space-between;
    // justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-bottom: 100px;
}

.promoCodeDetailsContainer  {
    width: 350px;
    // background-color: beige;
    background-color: whitesmoke;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.promoTitle {
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 5px;
}
.promoVaule {
    font-family: cursive;
    font-style: italic;
}
.removePromo {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.col-3 {
    display: flex;
    justify-content: center;
}
.promoContainer {
    padding-top: 10px;

}

.promobtns {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.centeringElements {
    display: flex;
    justify-content: center;
}