<div class="row">
    <div class="addPromoContainer">
        <div class="addPromoButton" (click)="showAddPromoForm()">ADD PROMOTION</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="existingPromoContainer">
            <div class="col-3" *ngFor="let promo of promosArray,let i = index">
                <div class="promoCodeDetailsContainer">
                    <div class="promoContainer">
                        <div class="">
                            <!-- <div class="centeringElements"><span class="promoTitle">Name : </span> <span class="promoVaule"> {{promo.name}} </span> </div> -->
                            <div class="centeringElements"><span class="promoTitle">PromoCode &nbsp;:&nbsp; </span> <span class="promoVaule"> {{promo.pcode}} </span> </div>
                            <div class="centeringElements"><span class="promoTitle">Discount(%) &nbsp;:&nbsp; </span> <span class="promoVaule"> {{promo.percentage}} </span> </div>
                            <div class="centeringElements"><span class="promoTitle">startDate &nbsp;:&nbsp; </span> <span class="promoVaule"> {{promo.start}} </span> </div>
                            <div class="centeringElements"><span class="promoTitle">endDate &nbsp;:&nbsp; </span> <span class="promoVaule"> {{promo.end}} </span> </div>
                        </div>
                        <div class="promobtns">
                            <span *ngIf="promo.send_promo == 0" class="d-flex justify-content-center"> <div class="removePromo" aria-label="remove Promo" (click)="editPromo(promo)">edit </div></span>
                            <span *ngIf="promo.send_promo == 0" class="d-flex justify-content-center"> <div class="removePromo" aria-label="remove Promo" (click)="sendPromo(promo)">send </div></span>
                            <span class="d-flex justify-content-center"> <div class="removePromo" aria-label="remove Promo" (click)="deletePromo(promo)">delete </div></span>
                        </div>
                    </div>    
                </div>  
            </div>
        </div>
    </div>
</div>