<div class="row">
    <div class="addPromoContainer">
        <div class="addPromoButton" (click)="showAddPromoForm()">ADD PROMOTION</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="existingPromoContainer">
            <div class="col-3" *ngFor="let promo of promosArray,let i = index">
                <div class="promoCodeDetailsContainer">
                    <div class="promoContainer">
                        <div class="">
                            <div class="centeringElements"><span class="promoTitle">Name : </span> <span class="promoVaule"> {{promo.name}} </span> </div>
                            <div class="centeringElements"><span class="promoTitle">PromoCode : </span> <span class="promoVaule"> {{promo.promoCode}} </span> </div>
                            <div class="centeringElements"><span class="promoTitle">Discount(%) : </span> <span class="promoVaule"> {{promo.discount}} </span> </div>
                            <div class="centeringElements"><span class="promoTitle">startDate : </span> <span class="promoVaule"> {{promo.startDate}} </span> </div>
                            <div class="centeringElements"><span class="promoTitle">endDate : </span> <span class="promoVaule"> {{promo.EndDate}} </span> </div>
                        </div>
                        <div class="promobtns">
                            <span class="d-flex justify-content-center"> <div class="removePromo" aria-label="remove Promo" (click)="deletePromo(i)">send promo</div></span>
                            <span class="d-flex justify-content-center"> <div class="removePromo" aria-label="remove Promo" (click)="deletePromo(i)">delete promo</div></span>
                        </div>
                    </div>    
                </div>  
            </div>
        </div>
    </div>
</div>