.addPromoContainer {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}

.addPromoButton {
    width: 180px;
    height: 40px;
    background-color: #1fb5bf;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    margin: 30px;
    margin-right: 0;
    cursor: pointer;
}
.sendPromoButton{
    width: 180px;
    height: 40px;
    background-color: #1fb5bf;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    margin: 30px;
    cursor: pointer;
}
.existingPromoContainer {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.promoCodeDetailsContainer  {
    width: 260px;
    background-color: beige;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promoTitle {
    font-weight: bold;
}
.promoVaule {
    font-family: cursive;
    font-style: italic;
}
.removePromo {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1fb5bf;
    color: black;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    cursor: pointer;
}