.manageMoviesHeader {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    background-color: black;
    padding-bottom: 5px;
}

.manageMoviesButton {
    color: white;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
}
.manageMoviesButton2 {
    color: white;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
}
.currentMoviesSectionContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.editMovieCard {
    display: inline-block;
    height: 180px;
    position: relative;
}
.editMovieCardImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.editMovieCardFooter {
    background-color: black;
    color: white;
    // height: 60px;
}
.manageMovieEditButton {
    color: white;
    width: 90px;
    height: 35px;
    align-items: center;
    background-color: #1fb5bf;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}
.manageMovieEditTitle {
    padding-top: 10px;
    padding-bottom: 5px;
}
.currentlyPlayingMoviesContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-top: 25px;
}
.currentMovieImage {
    height: 200px;
}
.currentmovesEditBtn {
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #1fb5bf;
    color: #171c24;
    width: 70px;
    height: 35px;
    border-radius: 25px;
    font-weight: 900;
}
mat-card {
    max-width: 275px !important;
} 
.titleHeaderMovieCard {
    color: black;
    font: bolder;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #1fb5bf;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}
.col-3 {
    padding-left: 70px;
}