<div *ngIf="email == undefined">
    <nav>
        <div class="logo">
            Bookmyshow
        </div>
        <div class="search-icon">
            <span class="fas fa-search"></span>
        </div>
    </nav>
</div>
<div *ngIf="email">
    <app-user-header></app-user-header>
</div>

<div class="movieCard">
    <img [src]="movieImg" style="width:400px;height:360px;">

    <table align="Right">
        <tr>
            <th colspan="2">Booking Summary</th>
        </tr>
        <tr>
            <th>Tickets</th>
            <td>
                <div class="editBtn" (click)="goToSeatSelectionPage()">Edit</div>
            </td>
        </tr>
        <tr>
            <th>Adult Ticket({{tempmovie.adultSeats}})</th>
            <td>${{tempmovie.adultSeats * adultTicketPrice}}</td>
        </tr>
        <tr>
            <th>Child Ticket({{tempmovie.childSeats}})</th>
            <td>${{tempmovie.childSeats * childTicketPrice}}</td>
        </tr>
        <tr>
            <th>Senior Ticket({{tempmovie.seniorSeats}})</th>
            <td>${{tempmovie.seniorSeats * seniorTicketPrice}}</td>
        </tr>
        <tr>
            <td>Seats <span class="seats">{{tempmovie.selectedSeatsList}}</span></td>
        </tr>
        <tr>
            <td>Fees</td>
        </tr>
        <tr>
            <th>Apply Promocode(if any)</th>   
        </tr>
        <tr>
            <th class="inputContainer">
                <input class="promoText" [(ngModel)]="promoText" type="text"  />
            </th>
            <td>
                <div (click)="promoBtn()" class="applyBtn">Apply</div>
            </td>  
        </tr>
        <tr *ngIf="correctPromo">
            <td class="correctPromo">Promocode applied successfully!!</td>   
        </tr>
        <tr *ngIf="correctPromo">
            <th>Discount applied</th>
            <td>-${{discountValue}}</td>
        </tr>
        <tr *ngIf="wrongPromo">
            <td class="wrongPromo">Promocode is Invalid</td>   
        </tr>
        <tr *ngIf="expiredpromo">
            <td class="wrongPromo">Promocode is Expired</td>   
        </tr>
        <tr>
            <th>Convenience fee</th>
            <td>$5</td>
        </tr>
        <tr style="border-bottom:1px solid black">
            <th>Taxes</th>
            <td>$5</td>
        </tr>
        <tr style="border-bottom:1px solid black">
            <th>Total</th>
            <td>${{total}}</td>
        </tr>
    </table>
    <table align="bottom">
        <tr>
            <th>Title</th>
            <td> {{tempmovie.movieName}} </td>
        </tr>
        <tr>
            <th>Time</th>
            <td> {{tempmovie.movieTime}} </td>
        </tr>
        <tr>
            <th>Date</th>
            <td> {{tempmovie.movieTiming}} </td>
        </tr>
        <tr>
            <th>Theatre</th>
            <td>AMC</td>
        </tr>
        <tr>
            <th>Screen</th>
            <td> {{tempmovie.screen}}</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <div class="bottomBtns">
        <div class="continueBtn" (click)="gotoSelectAges()">Back</div>
        <div class="continueBtn" (click)="checkout()">Continue</div>
    </div>   
</div>