<div *ngIf="email == undefined">
    <nav>
        <div class="logo">
            Bookmyshow
        </div>
        <div class="search-icon">
            <span class="fas fa-search"></span>
        </div>
    </nav>
</div>
<div *ngIf="email">
    <app-user-header></app-user-header>
</div>

    <div id="sc-edprofile" class="editProfileForm">
        <h1> CHANGE PASSWORD </h1>
        <div class="sc-container">
        <form [formGroup]="signUpForm">
            <div class="inputContainer">
                <span class="inputTitle">Existing Password <span class="required">*</span></span>
                <input type="password"  formControlName="existingPassword" placeholder="Enter Existing Password" />
                <div *ngIf="signUpForm.controls['existingPassword'].invalid && (signUpForm.controls['existingPassword'].dirty || signUpForm.controls['existingPassword'].touched)" class="">
                    <span *ngIf="signUpForm.controls['existingPassword'].errors?.required" class="errorText">Please Enter your existing Password</span>
                </div>
            </div>
            <div class="inputContainer">
                <span class="inputTitle">New Password <span class="required">*</span></span>
                <input type="password" formControlName="password" placeholder="Enter Password" (ngModelChange)="passwordCheck()"/>
                <span *ngIf="initialPwdError &&  !signUpForm.controls['password'].errors?.required" class="errorText">Password Mismatch.</span>
                <div *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)" class="">
                    <span *ngIf="signUpForm.controls['password'].errors?.required" class="errorText">new Password is required.</span>
                    <span *ngIf="signUpForm.controls['password'].errors?.passwordCheck && !signUpForm.controls['password'].errors?.required" class="errorText">Password should have a digit,LowerCase,Uppercase & atleast 6 charecters.</span>
                </div>
            </div>
            <div class="inputContainer">
                <span class="inputTitle">Re-Enter New Password <span class="required">*</span></span>
                <input type="password" formControlName="password2" placeholder="Re-Enter Password" (ngModelChange)="passwordCheck2()" />
                <span *ngIf="passwordError &&  !signUpForm.controls['password2'].errors?.required" class="errorText">Password Mismatch.</span>
                <div *ngIf="signUpForm.controls['password2'].invalid && (signUpForm.controls['password2'].dirty || signUpForm.controls['password2'].touched)" class="">
                    <span *ngIf="signUpForm.controls['password2'].errors?.required" class="errorText">Re-Enter New Password is required.</span>  
                </div>
            </div>
            <div *ngIf="invalidPassword" class="invalidPass">
                Invalid Current Password
            </div>
            <input (click)="changePassword()" type="submit" value="Change Password" />
        </form>
        </div>
    </div>