<nav>
    <div class="logo">
        Bookmyshow
    </div>
    <div class="search-icon">
        <span class="fas fa-search"></span>
    </div>
</nav>

    <div id="sc-edprofile" class="editProfileForm">
        <h1>SIGN UP </h1>
        <div class="sc-container">
        <form [formGroup]="signUpForm">
            <div class="inputContainer">
                <span class="inputTitle">Full Name <span class="required">*</span></span>
                <input type="text" formControlName="fullName" placeholder="Enter Full Name" />
                <div *ngIf="signUpForm.controls['fullName'].invalid && (signUpForm.controls['fullName'].dirty || signUpForm.controls['fullName'].touched)" class="">
                    <span *ngIf="signUpForm.controls['fullName'].errors?.required" class="errorText">Please Enter your Name.</span>
                </div>
            </div>
            <!-- <span class="inputTitle">Last Name</span>
            <input type="text" placeholder="Enter Last Name" /> -->
            <div class="inputContainer">
                <span class="inputTitle">Email Address <span class="required">*</span></span>
                <input type="text" formControlName="email" placeholder="Enter Email Address" />
                <div *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)" class="">
                    <span *ngIf="signUpForm.controls['email'].errors?.required" class="errorText">Please Enter your Email.</span>
                    <span *ngIf="signUpForm.controls['email'].errors?.pattern" class="errorText">Please provide a valid email address.</span>
                </div>
            </div>
            <div class="inputContainer">
                <span class="inputTitle">Phone Number <span class="required">*</span></span>
                <input type="text" formControlName="phone" placeholder="Enter Phone Number" />
                <div *ngIf="signUpForm.controls['phone'].invalid && (signUpForm.controls['phone'].dirty || signUpForm.controls['phone'].touched)" class="">
                    <span *ngIf="signUpForm.controls['phone'].errors?.required" class="errorText">Invalid Phone Number</span>
                </div>
            </div>
            <div class="inputContainer">
                <span class="inputTitle">Password <span class="required">*</span></span>
                <input type="password" formControlName="password" placeholder="Enter Password" (ngModelChange)="passwordCheck()"/>
                <span *ngIf="initialPwdError &&  !signUpForm.controls['password'].errors?.required" class="errorText">Password Mismatch.</span>
                <div *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)" class="">
                    <span *ngIf="signUpForm.controls['password'].errors?.required" class="errorText">Password is required.</span>
                </div>
            </div>
            <div class="inputContainer">
                <span class="inputTitle">Re-Enter Password <span class="required">*</span></span>
                <input type="password" formControlName="password2" placeholder="Re-Enter Password" (ngModelChange)="passwordCheck2()" />
                <span *ngIf="passwordError &&  !signUpForm.controls['password2'].errors?.required" class="errorText">Password Mismatch.</span>
                <div *ngIf="signUpForm.controls['password2'].invalid && (signUpForm.controls['password2'].dirty || signUpForm.controls['password2'].touched)" class="">
                    <span *ngIf="signUpForm.controls['password2'].errors?.required" class="errorText">Password is required.</span>
                    
                </div>
            </div>
        </form>
        </div>
    </div>