

<nav>
    <div class="logo">
       Bookmyshow
    </div>
  </nav>
  
  <div class="log-form">
    <h2 class="d-flex justify-content-center">ADMIN LOGIN</h2>
    <form [formGroup]="loginForm">
      <input formControlName="email" type="email" title="email" placeholder="email" />
      <input formControlName="password" type="password" title="username" placeholder="password" />
    </form>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn" (click)="admin2Route()">Login</button>
    </div><br>
  </div>