<app-user-header></app-user-header>
<h1 class="pagetitle">Order History</h1>

<div class="historyContainer">  
    <div class="movie">
        <div class="movie-title"><span class="title">Title: </span><span class="name">{{title}}</span></div>
        <!-- <div class="movie-castcrew"><span class="title">Date: </span><span class="name"></span></div>
        <div class="movie-castcrew"><span class="title">Time: </span><span class="name"></span></div>-->
        <div class="movie-castcrew"><span class="title">Cost: </span><span class="name">{{cost}}</span></div>
    </div>
</div>
