<nav>
    <div class="logo">
       Bookmyshow
    </div>
    <div class="search-icon">
       <span class="fas fa-search"></span>
    </div>
 </nav>

 <form>

<div *ngIf="intialPage">
    <div class="log-form">
        <div class="d-flex justify-content-center"><h2>Sign Up</h2></div>
        <div class="formContainer">
          <input type="text" title="firstName" placeholder="first Name *" />
          <input type="text" title="lastName" placeholder="Last Name *" />
          <input type="email" title="email" placeholder="Email *" />
          <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="phone Number" placeholder="Phone Number" />
          <input type="password" title="password" placeholder="password *" />
          <input type="confirm password" title="confirm password" placeholder="Confirm Password *" />
          <div class="justify-content-center">
            <button type="submit" class="btn" (click)="secondPageOfRegistration()">Next</button>
          </div>
        </div>
      </div>
</div>

<div *ngIf="secondPage">
  <div class="log-form">
    <div class="d-flex justify-content-center"><h2>Book my show</h2></div>
    <div class="formContainer">
      <br><br>
      <div class="">
        <button class="secondPageBtn" (click)="thirdPageOfRegistration()"> ADD Card Details </button> <br>
        <div class="orText">( or )</div> <br>
        <button class="secondPageBtn" (click)="fourthPageOfRegistration()">Skip & Continue</button>
        <br><br>
    </div>
  </div>
    <div class="secondPageBtns">
      <button class="btn" (click)="initalPage()"> Back </button>
    </div>
  </div>
</div>

<div *ngIf="thirdPage">
    <div class="log-form">
        <div class="d-flex justify-content-center"><h2>Enter Card Details</h2></div>
        <div class="formContainer">
          <input type="text" title="cardNumber" placeholder="Card Number *" />
          <div class="d-flex justify-content-center">
            <input type="number" title="exipryMonth" placeholder="Expiry Month *" />
            <input type="number" title="ExpiryYear" placeholder="Expiry Year *" />
            <input type="number" title="CVV" placeholder="CVV *" />
          </div> 
          <input type="text" title="Name" placeholder="Name on Card *" />
        </div>
        <div class="secondPageBtns">
            <button class="btn" (click)="secondPageOfRegistration()"> Back </button>
            <button class="btn" (click)="fourthPageOfRegistration()"> Coninue </button>
          </div>
      </div>
</div>

<div *ngIf="fourthPage">
  <div class="log-form">
      <div class="d-flex justify-content-center"><h2>Enter Address Details</h2></div>
      <div class="formContainer">
        <input type="text" title="address line 1" placeholder="Address Line 1*" />
        <input type="text" title="address line 2" placeholder="Address Line 2" />
        <input type="text" title="city" placeholder=" Enter City*" />
        <input type="text" title="State" placeholder=" Enter State*" />
        <input type="text" title="Country" placeholder=" Enter Country*" />
        <input type="text" title="zipcode" placeholder=" Enter Zipcode*" />
      </div>
      <div class="secondPageBtns">
          <button class="btn" (click)="secondPageOfRegistration()"> Back </button>
          <button class="btn" (click)="register()"> Coninue </button>
        </div>
    </div>
</div>
</form>
