<div *ngIf="!userHeader">
    <nav>
        <div (click)="returnHome()" class="logo">
            Bookmyshow
        </div>
        <div class="search-icon">
            <span class="fas fa-search"></span>
        </div>
    </nav>
</div>
<div *ngIf="userHeader">
    <app-user-header></app-user-header>
</div>

<div class="movieCard">
    <div>
        <div class="movieTitle"> {{movieTitle}} </div>  
       
        <div>
            <div class="theatreTitle">Select Date : &nbsp;&nbsp;&nbsp;
                 <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input (dateChange)="emptyscreens()" (dateChange)="showtimes($event)"  matInput [matDatepicker]="picker" [min]="todayDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker  #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div> <br>
        <div>
            <div *ngFor="let screen of screens;let i=index">
                <div *ngIf="screen.length">
                    <div class="theatreTitle">SCREEN {{i+1}} : </div> <br>
                    <div class="movieTimingsContainer">
                        <div *ngFor="let item of screen" class="movieTime" (click)="bookSeats(item, i+1)">{{item}}</div>
                    </div>
                </div>  
            </div>
            <div class="emptyset" *ngIf="checkArrayValue()">
                <div *ngIf="!dateExists">
                    Please select the date to get the available show times.
                </div>
                <div *ngIf="dateExists">
                    No Shows available on the selected date.
                </div>
            </div>
        </div>
    </div>
</div>