<div class="d-flex justify-content-center align-items-center">
    <table>
        <thead>
          <tr>
            <th> Movie Name </th>
            <th> Action </th>
            <th> Schedule Movie</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies, let i = index"> 
              <th> {{movie.movieName}} </th>
                <td class="removeAdminClass" (click)="removeArchive(i)" > Archive </td>
              <td >  
                <div class="scheduleBtn" (click)="scheduleMovie(i)" >
                  Schedule
                </div>
                </td>
          </tr>
        </tbody>
      </table>
</div>
    