.moviePageTitle {
    font-weight: bolder;
    font-style: italic;
    color: black;
}
.currentMovieImage {
    height: 200px;
}
.currentmovesEditBtn {
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #1fb5bf;
    color: black;
    width: 70px;
    height: 35px;
    border-radius: 25px;
    font-weight: 900;
}
mat-card {
    max-width: 300px !important;
}
.card .ui-carousel {
    border: 0px;
}
.card-img-top {
    width: 350px;
    height: 250px;
    cursor: pointer;
}

.item {
    border: none;
}
.p-carousel-indicators {
    display: none;
}

.centeringElements {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centeringElementsSpaceAround {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.trailerBtn {
    background-color: #1fb5bf;
    width: 150px;
    height: 40px;
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer;
}
// .container-fluid {
//     background-color: #414040;
// }
button.p-link {
    background-color: #1fb5bf!important;
}
.custom-carousel {
    background-color: #414040;
}
.cardtitle {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.noresultsContainer {
    width: 70vw;
    height: 30vh;
    background-color: #f5f5f5;
    color: #1fb5bf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body1 {
    margin-bottom: 20px;
}
.boldText {
    font-size: x-large;
}