<div *ngIf="!searching">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="col-10">
          <div><br><br>
            <div class="moviePageTitle">CURRENTLY RUNNING MOVIES</div>
            <br>
            <div class="content-section implementation carousel-demo">
              <p-carousel [value]="currentMovies" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
                [circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
                <ng-template let-movie pTemplate="item">
                  <div class="item card row">
                    <div>
                      <div class="centeringElements">
                        <img (click)="showSynopsisPage()" src="{{movie.image}}" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="d-flex justify-content-center">{{movie.title}}</h5>
                        <div class="centeringElements">
                          <h5 class="card-title">{{movie.rating}} &nbsp;|</h5>
                          <h5 class="card-title">&nbsp;{{movie.duration}}</h5>
                        </div>
                        <div class="centeringElementsSpaceAround">
                          <div class="trailerBtn centeringElements" (click)="openTrailerPopup(movie.trailer)"> watch
                            trailer </div>
                          <div class="trailerBtn centeringElements" (click)="bookTicketsPage()"> Book Now </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="col-10">
          <div><br><br>
            <div class="moviePageTitle"> UPCOMING MOVIES </div>
            <br>
            <div class="content-section implementation carousel-demo">
              <p-carousel [value]="currentMovies" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
                [circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
                <ng-template let-movie pTemplate="item">
                  <div class="item card row">
                    <div>
                      <div class="centeringElements">
                        <img src="{{movie.image}}" class="card-img-top" alt="...">
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="searching">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="col-10">
          <div><br><br>
            <div class="moviePageTitle">SEARCH RESULTS FOR : {{searchText}}</div>
            <br>
            <ng-container *ngIf="(currentMovies | search: searchText) as filteredMovies">
              <div class="content-section implementation carousel-demo">
                <div class="row">
                  <div class="col-3" *ngFor="let movie of filteredMovies"> 
                    <div class="item card row">
                      <div>
                        <div class="centeringElements">
                          <img (click)="showSynopsisPage()" src="{{movie.image}}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body1">
                          <h5 class="cardtitle">{{movie.title}}</h5>
                          <div class="centeringElements">
                            <h5 class="card-title">{{movie.rating}} &nbsp;|</h5>
                            <h5 class="card-title">&nbsp;{{movie.duration}}</h5>
                          </div>
                          <div class="centeringElementsSpaceAround">
                            <div class="trailerBtn centeringElements" (click)="openTrailerPopup(movie.trailer)"> watchtrailer </div>&nbsp;&nbsp;
                            <div class="trailerBtn centeringElements" (click)="bookTicketsPage()"> Book Now </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center" *ngIf="filteredMovies.length == 0">
                  <div class="noresultsContainer">
                      Sorry!! No results match with <span class="boldText"> " {{searchText}} " </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>