<div class="row">
    <div class="d-flex justify-content-center">
        <div>
            <div class="d-flex justify-content-center">  <h4> Promo Details</h4>  </div> <br>
            <div>
                <form [formGroup]="promoForm" (ngSubmit)="addPromo()">
                    Promo Name : 
                    <input formControlName="name" type="text" title="name" placeholder="Promo Name" /> <br> <br>
                    Promo Code : 
                    <input formControlName="promoCode" type="text" title="promoCode" placeholder="Promo Code" /> <br> <br>
                    Discount : 
                    <input formControlName="discount" type="text" title="discount" placeholder="discount value" /> <br> <br>
                    <div class="promoBtns">
                        <div type="submit"  class="cancelPromoBtn" (click)="closeModal()">Cancel</div> 
                        <div type="submit"  class="addPromoBtn" (click)="addPromo()">Add Promotion</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>