<!-- <div class="row">
    <div class="d-flex justify-content-center">
        <div>
            <div class="d-flex justify-content-center">  <h4> Promo Details</h4>  </div> <br>
            <div>
                <form [formGroup]="promoForm" (ngSubmit)="addPromo()">
                    Promo Name : 
                    <input formControlName="name" type="text" title="name" placeholder="Promo Name" /> <br> <br>
                    Promo Code : 
                    <input formControlName="promoCode" type="text" title="promoCode" placeholder="Promo Code" /> <br> <br>
                    Discount : 
                    <input formControlName="discount" type="text" title="discount" placeholder="discount value" /> <br> <br>
                    <div class="promoBtns">
                        <div type="submit"  class="cancelPromoBtn" (click)="closeModal()">Cancel</div> 
                        <div type="submit"  class="addPromoBtn" (click)="addPromo()">Add Promotion</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="addnewMovieSectionContainer">
    <div id="sc-edprofile" class="editProfileForm">
      <h1>Add New Promotion Details</h1>
      <!-- <form [formGroup]="addMovie" (ngSubmit)="addNewMovie()"> -->
        <div class="sc-container">
          <span class="addNewMovieformLabel">Promo Name * </span>
          <input type="text" formControlName="title" placeholder="Enter Promotion name" />
          <span class="addNewMovieformLabel">Promo Code *  </span>
          <textarea formControlName="Synopsis" placeholder="Enter Promo code"></textarea>
          <span class="addNewMovieformLabel">Discount * </span>
          <input type="text" formControlName="cast" placeholder="Enter Discount value" />
          <span class="addNewMovieformLabel">Promo Start Date * </span>
          <input type="date" formControlName="startDate" placeholder="Enter Promo Start Date" />
          <span class="addNewMovieformLabel">Promo Expiry Date * </span>
          <input type="date" formControlName="endDate" placeholder="Enter Promo End Date" />  
          <div class="displayBtns">
            <input class="promoBtns" type="submit" value="Add Promo" />
            <input class="promoBtns" (click)="closeModal()" type="submit" value="Cancel" />
          </div>
        </div>
      <!-- </form> -->
    </div>
  </div>