<div *ngIf="email == undefined">
  <nav>
      <div class="logo">
          Bookmyshow
      </div>
      <div class="search-icon">
          <span class="fas fa-search"></span>
      </div>
  </nav>
</div>
<div *ngIf="email">
  <app-user-header></app-user-header>
</div>

<div class="centeringForm" *ngIf="intialPage">
    <div class="log-form">
      <div>
        <div class="d-flex justify-content-center"><h2>Checkout</h2></div>
        <form [formGroup]="checkoutForm">
          <div class="checkoutIndividualTitle">Personal Details : </div>
          <input type="text" formControlName="firstName" title="firstName" placeholder="first Name *" />
          <input type="text" formControlName="lastName" title="lastName" placeholder="Last Name *" />
          <input type="email" formControlName="email" title="email" placeholder="Email *" />
          <input type="tel" formControlName="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="phone Number" placeholder="Phone Number *" />
          <!-- <input type="number" title="Age" placeholder="Age *" /> -->
          <div class="checkoutIndividualTitle">Billing Address : </div>
          <input type="text" formControlName="address1" title="address line 1" placeholder="Address Line 1*" />
        <input type="text" formControlName="address2" title="address line 2" placeholder="Address Line 2" />
        <div class="d-flex justify-content-center">
            <input type="text" formControlName="city" title="city" placeholder=" Enter City*" />
            <input type="text" formControlName="state" title="State" placeholder=" Enter State*" />
        </div>
        <div class="d-flex justify-content-center">
            <input type="text" formControlName="country" title="Country" placeholder=" Enter Country*" />
        <input type="text" formControlName="pincode" title="zipcode" placeholder=" Enter Zipcode*" />
        </div>
        <!-- card buttons -->
        <div class="checkoutIndividualTitle">Payment Details : </div>
        <!-- <button class="secondPageBtn" *ngIf="!showExistingCards" (click)="ShowExistingCards()"> Select from Saved Cards </button> <br> -->
        <div >
          <div class="checkoutIndividualTitle2">Saved Cards : (MAX 3 Cards be saved)</div>
          <div class="radioBtnCss">
            <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="cardSelected"
                >
                <mat-radio-button class="example-radio-button" *ngFor="let card of cards" [value]="card">
                  {{card}}
                </mat-radio-button>
                <br>
              </mat-radio-group>            
          </div>
        </div>
      </form>
      <form [formGroup]="cardForm">
        <button class="secondPageBtn" *ngIf="!showCardForm && noOfCards<3" (click)="thirdPageOfRegistration2()"> ADD New Card </button> <br>
        <div *ngIf="showCardForm && noOfCards<3">
          <div class="d-flex justify-content-centereckoutIndividualTitle2">ADD NEW CARD</div>
          <div class="checkoutIndividualTitle2">Enter Card Details : </div>
          <input type="text" formControlName="cardNo" title="cardNumber" placeholder="Card Number *" />
          <div class="d-flex justify-content-center">
            <input type="number" formControlName="month" title="exipryMonth" placeholder="Expiry Month *" />
            <input type="number" formControlName="year" title="ExpiryYear" placeholder="Expiry Year *" />
            <input type="number" formControlName="cvv" title="CVV" placeholder="CVV *" />
          </div> 
          <input type="text" formControlName="name" title="Name" placeholder="Name on Card *" />
        </div> 
        <!-- card details -->
          <div class="secondPageBtns">
            <button class="btn" (click)="cancelCheckout()"> Cancel </button>
            <button type="submit" class="btn" (click)="placeOrder()">Make Payment</button>
          </div>
        </form>
      </div>
    </div>
</div>

<div *ngIf="fourthPage">
  <div class="log-form">
    <div class="d-flex justify-content-center"><h2>Book my show</h2></div>
    <form>
      <br><br>
      <div class="">
        <button class="secondPageBtn" (click)="thirdPageOfRegistration()"> ADD Card Details </button> <br>
        <div class="orText">( or )</div> <br>
        <button class="secondPageBtn" (click)="fourthPageOfRegistration()">Skip & Continue</button>
        <br><br>
    </div>
    </form>
    <div class="secondPageBtns">
      <button class="btn" (click)="initalPage()"> Back </button>
    </div>
  </div>
</div>

<div *ngIf="thirdPage">
    <div class="log-form">
        <div class="d-flex justify-content-center"><h2>Payment Details</h2></div>
        <form>
          <input type="text" title="cardNumber" placeholder="Card Number *" />
          <div class="d-flex justify-content-center">
            <input type="number" title="exipryMonth" placeholder="Expiry Month *" />
            <input type="number" title="ExpiryYear" placeholder="Expiry Year *" />
            <input type="number" title="CVV" placeholder="CVV *" />
          </div> 
          <input type="text" title="Name" placeholder="Name on Card *" />
        </form>
        <div class="secondPageBtns">
            <button class="btn" (click)="secondPageOfRegistration()"> Back </button>
            <button class="btn" (click)="cancelCheckout()"> Cancel </button>
            <button class="btn" (click)="placeOrder()"> Place Order </button>
          </div>
      </div>
</div>

<div *ngIf="secondPage">
  <div class="log-form">
      <div class="d-flex justify-content-center"><h2>Billing Adddress</h2></div>
      <form>
        <input type="text" title="address line 1" placeholder="Address Line 1*" />
        <input type="text" title="address line 2" placeholder="Address Line 2" />
        <div class="d-flex justify-content-center">
            <input type="text" title="city" placeholder=" Enter City*" />
            <input type="text" title="State" placeholder=" Enter State*" />
        </div>
        <div class="d-flex justify-content-center">
            <input type="text" title="Country" placeholder=" Enter Country*" />
        <input type="text" title="zipcode" placeholder=" Enter Zipcode*" />
        </div>  
      </form>
      <div class="secondPageBtns">
          <button class="btn" (click)="initalPage()"> Back </button>
          <button class="btn" (click)="cancelCheckout()"> Cancel </button>
          <button class="btn" (click)="thirdPageOfRegistration()"> Coninue </button>
        </div>
    </div>
</div>