<nav>
    <div class="logo">
        Bookmyshow
    </div>
</nav>
<br><br><br><br>
<section class="h-custom">
    <div class="">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-8 col-xl-6">
                <div class="card border-top border-bottom border-3" style="border-color: #1fb5bf !important;">
                    <div class="card-body p-5">

                        <p class="lead fw-bold mb-5" style="color: #1fb5bf;">Ticket Details...</p>

                        <div class="row">
                            <div class="col mb-3">
                                <p class="small text-muted mb-1">Screen</p>
                                <p><b>5</b></p>
                            </div>
                            <div class="col mb-3">
                                <p class="small text-muted mb-1">Order No.</p>
                                <p><b>1660376265</b></p>
                            </div>
                            <div class="col mb-3">
                                <p class="small text-muted mb-1">Date</p>
                                <p><b>30 September 2022 | 12:00 PM</b></p>
                            </div>
                        </div>

                        <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                            <div class="row">
                                <div class="col-md-8 col-lg-9">
                                    <h2>The God Father</h2>
                                    <p class="card-text">2h 55m | R | 2 Adult, 2 Child</p> 
                                    <br>
                                    <p class="card-text"><b>Seats: A1,A2,A3,A4</b></p>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <p><b>52.76$</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-lg-9">
                                    <p class="mb-0"><b>Convienece Fees</b></p>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <p class="mb-0"><b>4.2$</b></p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                                <span>Total : </span><span class="lead fw-bold mb-0" style="color: #1fb5bf;"><b>56.96$</b></span>
                            </div>
                        </div>

                        <p class="mt-4 pt-2 mb-0"> Thank You for Booking with <span style="color: #1fb5bf;">Bookmyshow!!!   </span> </p>

                    </div>
                </div>
            </div>
        </div>
    </div>