<div *ngIf="email == undefined">
    <nav>
        <div class="logo">
            Bookmyshow
        </div>
        <div class="search-icon">
            <span class="fas fa-search"></span>
        </div>
    </nav>
</div>
<div *ngIf="email">
    <app-user-header></app-user-header>
</div>
<br><br>
<section class="h-custom">
    <div class="">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-8 col-xl-6">
                <div class="card border-top border-bottom border-3" style="border-color: #1fb5bf !important;">
                    <div class="card-body p-5">

                        <p class="lead fw-bold mb-5" style="color: #1fb5bf;">Ticket Details...</p>

                        <div class="row">
                            <div class="col mb-3">
                                <p class="small text-muted mb-1">Screen</p>
                                <p><b> {{movie.screen}}</b></p>
                            </div>
                            <div class="col mb-3">
                                <p class="small text-muted mb-1">Order No.</p>
                                <p><b> {{movie.orderId}}</b></p>
                            </div>
                            <div class="col mb-3">
                                <p class="small text-muted mb-1">Date</p>
                                <p><b> {{movie.movieTiming}} | {{movie.movieTime}}</b></p>
                            </div>
                        </div>

                        <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                            <div class="row">
                                <div class="col-md-8 col-lg-9">
                                    <h2> {{movie.movieName}} </h2>
                                    <p class="card-text"> {{movie.runtime}} | {{movie.rating}} | 
                                        <span *ngIf="movie.adultSeats != 0"> {{movie.adultSeats}} Adult</span>
                                         <span *ngIf="movie.childSeats !=0">,</span> <span *ngIf="movie.childSeats !=0"> {{movie.childSeats}} Child </span> 
                                         <span *ngIf="movie.seniorSeats !=0">,</span> <span *ngIf= "movie.seniorSeats!=0"> {{movie.seniorSeats}} senior</span></p> 
                                    <br>
                                    <p class="card-text"><b>Seats: {{movie.selectedSeatsList}}</b></p>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <p><b>${{movie.ticketCost}}</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-lg-9">
                                    <p class="mb-0"><b>Convienece Fees</b></p>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <p class="mb-0"><b>$10</b></p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                                <span>Total Paid : </span><span class="lead fw-bold mb-0" style="color: #1fb5bf;"><b>${{total}}</b></span>
                            </div>
                        </div>

                        <p class="mt-4 pt-2 mb-0"> Thank You for Booking your tickets with <span style="color: #1fb5bf;">Bookmyshow!!!   </span> </p>

                    </div>
                </div>
            </div>
        </div>
    </div>