<nav>
  <div class="logo">
    Bookmyshow
  </div>
</nav>

<div class="log-form">
  <h2 class="d-flex justify-content-center">ADMIN LOGIN</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin(loginForm)">
    <div class="spacing">
      <input formControlName="email" type="email" title="email" placeholder="email" />
      <div
        *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
        class="">
        <span *ngIf="loginForm.controls['email'].errors?.required" class="errorText">Please Enter your Email.</span>
        <span *ngIf="loginForm.controls['email'].errors?.pattern" class="errorText">Please provide a valid email
          address.</span>
      </div>
    </div>
    <div class="spacing">
      <input formControlName="password" type="password" title="username" placeholder="password" />
      <div
        *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
        class="">
        <span class="errorText">Please Enter your Password.</span>
      </div>
    </div>
    <!-- <div class="d-flex justify-content-center">
      <button type="submit" class="btn">Login</button>
    </div> -->
  </form>
  <div *ngIf="adminerror" class="errorTEXT">
    Something went wrong. Please contact Administration.
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn" (click)="admin2Route()">Login</button>
  </div><br>
</div>