<div *ngIf="email == undefined">
    <nav>
        <div class="logo">
            Bookmyshow
        </div>
        <div class="search-icon">
            <span class="fas fa-search"></span>
        </div>
    </nav>
</div>
<div *ngIf="email">
    <app-user-header></app-user-header>
</div>
 <div>
    <div class="movieCard">
        <div class="movieTitle">Select Ticket Type</div>
        <br>
        <div class="">
            <div class="centering">Select {{seats}} remaining tickets</div><br>
            <div class="centering">
                <div><img (click)="removeChild()" class="minusIcon" src="../../../assets/images/minusIcon.jpeg" alt="minusIcon" /></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="middleText">
                    <div class="flexClass">
                       <h2>Child<span class="subclass">(Age < 12 )</span></h2> 
                       
                    </div>
                    <div class="flexClass">
                        <div> $11.69 </div>
                        
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div><img (click)="addChild()" class="plusIcon" src="../../../assets/images/plusIcon.jpg" alt="plusIcon" /></div>
            </div>
            <br>
            <div class="centering">
                <div><img (click)="removeAdult()" class="minusIcon" src="../../../assets/images/minusIcon.jpeg" alt="minusIcon" /></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="middleText">
                    <div class="flexClass">
                       <h2>Adult<span class="subclass">( 12 - 16 )</span></h2> 
                    </div>
                    <div class="flexClass">
                        $14.69
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div><img (click)="addAdult()" class="plusIcon" src="../../../assets/images/plusIcon.jpg" alt="plusIcon" /></div>
            </div>
            <br>
           
            <div class="centering">
                <div><img (click)="removeSenior()" class="minusIcon" src=".  ./../../assets/images/minusIcon.jpeg" alt="minusIcon" /></div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="middleText">
                    <div class="flexClass">
                       <h2>Senior <span class="subclass">( Age > 60 )</span></h2> 
                    </div>
                    <div class="flexClass">
                        $13.19
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div><img (click)="addSenior()" class="plusIcon" src="../../../assets/images/plusIcon.jpg" alt="plusIcon" /></div>
            </div>
            <div class="d-flex justify-content-center noteClass">
                 Child Seats = {{childSeats}} , Adult Seats = {{adultSeats}} , Senior Seats = {{seniorSeats}}
            </div>
            <br><br>
            <div class="d-flex justify-content-center">
                <div class="continueBtn" [ngClass]=" seats ==0 ? 'continueBtn':'discontinueBtn' " (click)="orderConfirmation()">Continue</div>
            </div>

        </div>
    </div>
 </div>