<nav>
    <div class="logo">
       Bookmyshow
    </div>
    <div class="search-icon">
       <span class="fas fa-search"></span>
    </div>
 </nav>


<div class="log-form">
    <div class="d-flex justify-content-center"><h2>Login</h2></div>
    <form>
      <input type="text" title="username" placeholder="username" />
      <input type="password" title="username" placeholder="password" />
      <a class="forgot" href="#">Forgot Password?</a>
      <button type="submit" class="btn" (click)="login()">Login</button>
    </form>
  </div><!--end log form -->