<nav>
    <div (click)="returnHome()" class="logo">
       Bookmyshow
    </div>
    <div class="nav-items">
      <li class="cursor" (click)="signUpReRoute()"><a >SignUp</a></li>
   </div>
    <div class="search-icon">
       <span class="fas fa-search"></span>
    </div>
 </nav>


<div class="log-form">
    <div class="d-flex justify-content-center"><h2>Login</h2></div>
    <form [formGroup]="loginForm">
      <span *ngIf="" class="errorText">Please Enter valid Credentails.</span>
      <div class="inputFieldConatiner">
         <input formControlName="email" type="text" title="username" placeholder="Email" (input)="validityCheck()" />
         <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="">
            <span *ngIf="loginForm.controls['email'].errors?.required" class="errorText">Please Enter your Email.</span>
            <span *ngIf="loginForm.controls['email'].errors?.pattern" class="errorText">Please provide a valid email address.</span>
         </div>
      </div>
      <div class="inputFieldConatiner">
         <input formControlName="password" type="password" title="username" placeholder="password" (input)="validityCheck()" />
         <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="">
            <span class="errorText">Please Enter your Password.</span>
         </div>
      </div>
      <diV class="remMeConatiner">
         <div class="col-8 d-flex justify-content-start">
            <label class="checkbox">
               <input type="checkbox" class="rememberMeCheckbox" value="remember-me" id="rememberMe" name="rememberMe">&nbsp;&nbsp; <span class="remMeText"> RememberMe</span>
             </label>
         </div>
         <div class="col-4 d-flex justify-content-end">
            <a class="forgot" (click)="forgotPasscoode()">Forgot Password?</a>
         </div>
      </diV>
      <div *ngIf="invlidcred" class="errorText2">
         Invalid credentials.
      </div>
      <div *ngIf="suspendedCred" class="errorText2">
         Account is suspended. Please contact the Administration.
      </div>
      <button type="submit" class="btn3" (click)="login()">Login</button>
    </form>
  </div><!--end log form -->