<nav>
    <div class="logo">
        Bookmyshow
    </div>
    <div class="nav-items">
        <li class="cursor" (click)="loginReroute()"><a >Login</a></li>
     </div>
    <div class="search-icon">
        <span class="fas fa-search"></span>
    </div>
</nav>

    <div id="sc-edprofile" class="editProfileForm">
        <h1>SIGN UP </h1>
        <div class="sc-container">
        <form [formGroup]="signUpForm">
            <div class="inputContainer">
                <span class="inputTitle">First Name <span class="required">*</span></span>
                <input type="text" formControlName="firstName" placeholder="Enter First Name" />
                <div *ngIf="signUpForm.controls['firstName'].invalid && (signUpForm.controls['firstName'].dirty || signUpForm.controls['firstName'].touched)" class="">
                    <span *ngIf="signUpForm.controls['firstName'].errors?.required" class="errorText">Please Enter your Name.</span>
                </div>
            </div>
            <div class="inputContainer">
                <span class="inputTitle">Last Name <span class="required">*</span></span>
                <input type="text" formControlName="lastName" placeholder="Enter Full Name" />
                <div *ngIf="signUpForm.controls['lastName'].invalid && (signUpForm.controls['lastName'].dirty || signUpForm.controls['lastName'].touched)" class="">
                    <span *ngIf="signUpForm.controls['lastName'].errors?.required" class="errorText">Please Enter your Name.</span>
                </div>
            </div>
            <!-- <span class="inputTitle">Last Name</span>
            <input type="text" placeholder="Enter Last Name" /> -->
            <div class="inputContainer">
                <span class="inputTitle">Email Address <span class="required">*</span></span>
                <input type="text" formControlName="email" placeholder="Enter Email Address" />
                <div *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)" class="">
                    <span *ngIf="signUpForm.controls['email'].errors?.required" class="errorText">Please Enter your Email.</span>
                    <span *ngIf="signUpForm.controls['email'].errors?.pattern" class="errorText">Please provide a valid email address.</span>
                </div>
            </div>
            <div class="inputContainer">
                <span class="inputTitle">Phone Number <span class="required">*</span></span>
                <input type="number" formControlName="phone" placeholder="Enter Phone Number" />
                <div *ngIf="signUpForm.controls['phone'].invalid && (signUpForm.controls['phone'].dirty || signUpForm.controls['phone'].touched)" class="">
                    <span *ngIf="signUpForm.controls['phone'].errors?.required" class="errorText">Invalid Phone Number</span>
                    <span *ngIf="signUpForm.controls['phone'].errors?.pattern" class="errorText">Phone Number Should be of 10 digits(ex:9876543210)</span>
                </div>
            </div>
            <div class="inputContainer">
                <span class="inputTitle">Password <span class="required">*</span></span>
                <input type="password" formControlName="password" placeholder="Enter Password" (ngModelChange)="passwordCheck()"/>
                <span *ngIf="initialPwdError &&  !signUpForm.controls['password'].errors?.required" class="errorText">Password Mismatch.</span>
                <div *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)" class="">
                    <span *ngIf="signUpForm.controls['password'].errors?.required" class="errorText">Password is required.</span>
                    <span *ngIf="signUpForm.controls['password'].errors?.passwordCheck && !signUpForm.controls['password'].errors?.required" class="errorText">Password should have a digit,LowerCase,Uppercase & atleast 6 charecters.</span>
                </div>
            </div>
            <div class="inputContainer">
                <span class="inputTitle">Re-Enter Password <span class="required">*</span></span>
                <input type="password" formControlName="password2" placeholder="Re-Enter Password" (ngModelChange)="passwordCheck2()" />
                <span *ngIf="passwordError &&  !signUpForm.controls['password2'].errors?.required" class="errorText">Password Mismatch.</span>
                <div *ngIf="signUpForm.controls['password2'].invalid && (signUpForm.controls['password2'].dirty || signUpForm.controls['password2'].touched)" class="">
                    <span *ngIf="signUpForm.controls['password2'].errors?.required" class="errorText">Password is required.</span>
                    
                </div>
            </div>
        </form>
            <!-- hide address details -->
        <form [formGroup]="addressForm">
            <input *ngIf="!showAddressDetails" class="optionalBtn" (click)="showAddAddress()" type="submit" value="Add Address (Optional)" /><br>
            <div *ngIf="showAddressDetails">
                <div class="d-flex">
                    <div class="col-11 cardText">ADDRESS</div>
                    <div class="col-1 skipBtn"><span class="skipText" (click)="showAddAddress()">SKIP</span></div>
                </div><br>
                <div class="inputContainer">
                    <span class="inputTitle">Address Line 1 <span class="required">*</span></span>
                    <input type="text" formControlName="address1" placeholder="Enter Address Line 1" />
                    <div *ngIf="addressForm.controls['address1'].invalid && (addressForm.controls['address1'].dirty || addressForm.controls['address1'].touched)" class="">
                        <span *ngIf="addressForm.controls['address1'].errors?.required" class="errorText">Address is required</span>
                    </div>
                </div>
                <div class="inputContainer">
                    <span class="inputTitle">Address Line 2 </span>
                    <input type="text" formControlName="address2" placeholder="Enter Address Line 2" />
                </div>
                <div class="inputContainer">
                    <span class="inputTitle">City <span class="required">*</span></span>
                    <input type="text" formControlName="city" placeholder="Enter City" />
                    <div *ngIf="addressForm.controls['city'].invalid && (addressForm.controls['city'].dirty || addressForm.controls['city'].touched)" class="">
                        <span *ngIf="addressForm.controls['city'].errors?.required" class="errorText">City is required</span>
                    </div>
                </div>
                <div class="inputContainer">
                    <span class="inputTitle">State <span class="required">*</span></span>
                    <input type="text" formControlName="state" placeholder="Enter state" />
                    <div *ngIf="addressForm.controls['state'].invalid && (addressForm.controls['state'].dirty || addressForm.controls['state'].touched)" class="">
                        <span *ngIf="addressForm.controls['state'].errors?.required" class="errorText">State is required</span>
                    </div>
                </div>
                <div class="inputContainer">
                    <span class="inputTitle">Country <span class="required">*</span></span>
                    <input type="text" formControlName="country" placeholder="Enter Country" />
                    <div *ngIf="addressForm.controls['country'].invalid && (addressForm.controls['country'].dirty || addressForm.controls['country'].touched)" class="">
                        <span *ngIf="addressForm.controls['country'].errors?.required" class="errorText">Country is required</span>
                    </div>
                </div>
                <div class="inputContainer">
                    <span class="inputTitle">pincode <span class="required">*</span></span>
                    <input type="number" formControlName="pincode" placeholder="Enter pincode" />
                    <div *ngIf="addressForm.controls['pincode'].invalid && (addressForm.controls['pincode'].dirty || addressForm.controls['pincode'].touched)" class="">
                        <span *ngIf="addressForm.controls['pincode'].errors?.required" class="errorText">Pincode is required</span>
                        <span *ngIf="addressForm.controls['pincode'].errors?.pattern" class="errorText">Pincode should be of 5 characters.</span>
                    </div>
                </div>
            </div>
        </form>
            <!-- card deatils -->
        <form [formGroup]="cardForm">
            <input *ngIf="!cardDetails" (click)="showCardDetails()" type="submit" value="Add Card Details (Optional)" />
            <div *ngIf="cardDetails">
                <div class="d-flex">
                    <div class="col-11 cardText">CARD DETAILS</div>
                    <div class="col-1 skipBtn"><span class="skipText" (click)="showCardDetails()">SKIP</span></div>
                </div><br>
                <div class="inputContainer">
                    <span class="inputTitle">Card Number <span class="required">*</span></span>
                    <input type="number" formControlName="cardNo" title="cardNumber" placeholder="Card Number" />
                    <div *ngIf="cardForm.controls['cardNo'].invalid && (cardForm.controls['cardNo'].dirty || cardForm.controls['cardNo'].touched)" class="">
                        <span *ngIf="cardForm.controls['cardNo'].errors?.required" class="errorText">Card Number is required</span>
                        <span *ngIf="cardForm.controls['cardNo'].errors?.pattern" class="errorText">Card Number should be of 12 digits(ex: 123412341234)</span>
                    </div>
                </div>
                <div class="inputContainer">
                    <span class="inputTitle">Expiry Month <span class="required">*</span></span>
                    <input type="text" formControlName="month" title="exipryMonth" placeholder="Expiry Month" maxlength="2" />
                    <div *ngIf="cardForm.controls['month'].invalid && (cardForm.controls['month'].dirty || cardForm.controls['month'].touched)" class="">
                        <span *ngIf="cardForm.controls['month'].errors?.required" class="errorText">Month is required</span>
                        <span *ngIf="cardForm.controls['month'].errors?.monthError && !cardForm.controls['month'].errors?.required" class="errorText">Exact 2 numbers required(example:08)</span>
                    </div>
                </div>
                <div class="inputContainer">
                    <span class="inputTitle">Expiry Year <span class="required">*</span></span>
                    <input type="number" formControlName="year" title="ExpiryYear" placeholder="Expiry Year" />
                    <div *ngIf="cardForm.controls['year'].invalid && (cardForm.controls['year'].dirty || cardForm.controls['year'].touched)" class="">
                        <span *ngIf="cardForm.controls['year'].errors?.required" class="errorText">Year is required</span>
                        <span *ngIf="cardForm.controls['year'].errors?.pattern" class="errorText">Exact 4 numbers required(example:1998)</span>
                    </div>
                </div>
                <!-- <div class="inputContainer">
                    <span class="inputTitle">CVV <span class="required">*</span></span>
                    <input type="number" formControlName="cvv" title="CVV" placeholder="CVV" />
                    <div *ngIf="cardForm.controls['cvv'].invalid && (cardForm.controls['cvv'].dirty || cardForm.controls['cvv'].touched)" class="">
                        <span *ngIf="cardForm.controls['cvv'].errors?.required" class="errorText">CVV is required</span>
                        <span *ngIf="cardForm.controls['cvv'].errors?.pattern" class="errorText">3 or 4 numbers required(example:634 | 3728)</span>
                    </div>
                </div> -->
                <div class="inputContainer">
                    <span class="inputTitle">Name on Card <span class="required">*</span></span>
                    <input type="text" formControlName="name" title="Name" placeholder="Name on Card" />
                    <div *ngIf="cardForm.controls['name'].invalid && (cardForm.controls['name'].dirty || cardForm.controls['name'].touched)" class="">
                        <span *ngIf="cardForm.controls['name'].errors?.required" class="errorText">Name is required</span>
                    </div>
                </div>
            </div>
            <br><br>
            <span class="inputTitle">Click to Select/De-Select for Promotions :</span>
            <input class="optionalBtn2" (click)="signUpPromotions()" type="submit" [value]="promotionValue" />
            <br>
            <div *ngIf="emailExists" class="errorTEXT">
                EMAIL ALREADY EXITS IN THE BMS DATABASE
            </div>
            <br>
            <input (click)="signUp()" type="submit" value="Sign Up" />
        </form>
        </div>
    </div>