<div class="userHeader">
    <nav >
        <div (click)="gotoHomePage()" class="logo">
           Bookmyshow
        </div>
        <div class="search-icon">
           <span class="fas fa-search"></span>
        </div>
        <!-- <form action="#">
           <input type="search" class="search-data" placeholder="Search" required>
           <button type="submit" class="fas fa-search"></button>
        </form> -->
        <form *ngIf="homePage" [formGroup]="inputForm" class="form-wrapper cf">
         <input type="text" formControlName="inputVal" placeholder="Search by Movie Name, Category" (ngModelChange)="search($event)" required>
         <button type="submit" (click)="clearSearch()">Search</button>
      </form>
        <div class="dropdown">
            <button class="dropbtn">Hello {{user}} <span class="dropdownArrow">&#11163;</span></button>
            <div class="dropdown-content">
              <a class="pointer" (click)="editProfile()">Edit Profile</a>
              <a class="pointer" (click)="orderHistory()">Order History</a>
              <a class="pointer" (click)="manageCards()">Manage Cards</a>
              <a class="pointer" *ngIf="isVerifiedUser" (click)="verifyUser()">Verify User</a>
              <a class="pointer" (click)="changePassword()">Change Password</a>
              <a class="pointer" (click)="logout()">Signout</a>
            </div>
        </div>
     </nav>
</div>