<nav>
    <div class="logo">
       Bookmyshow
    </div>
    <div class="search-icon">
       <span class="fas fa-search"></span>
    </div>
 </nav>


 <div class="log-form">
    <div class="d-flex justify-content-center"><h2 class="d-flex justify-content-center">Reset Password</h2></div>
    <form [formGroup]="loginForm">
      <div class="inputFieldConatiner">
         <span class="inputLabel">Enter Your Email</span>
         <input formControlName="email" type="text" title="username" placeholder="Please Enter Your Email" (ngModelChange)="emailreset()" />
         <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="">
            <span *ngIf="loginForm.controls['email'].errors?.required" class="errorText">Please Enter your Email.</span>
            <span *ngIf="loginForm.controls['email'].errors?.pattern" class="errorText">Please provide a valid email address.</span>
         </div>
         <div *ngIf="invalidEmail" class="invalidEmail">
            INVALID EMAIL ADDRESS
         </div>
         <div *ngIf="showOtp">
            <div class="note"> Please Enter OTP sent to your email. </div>
            <br><span class="inputLabel">Enter OTP</span><br>
            <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input> <br>
            <span class="errorText" *ngIf="otpError">Please Enter 6 charcharacters</span>
            <div class="invalidEmail" *ngIf="isValidOTP">Invalid OTP</div>
            <button type="submit" class="btn verifyOtpbtn" (click)="verifyOtp()">Verfiy OTP</button>
         </div> 
         
         <div *ngIf="showChangePassword">
            <br><span class="inputLabel">Enter Password</span><br>
            <input type="password" title="Password" placeholder="Please Enter Your Password" formControlName="password" (ngModelChange)="passwordCheck()" />
            <span *ngIf="initialPwdError &&  !loginForm.controls['password'].errors?.required" class="errorText">Password Mismatch.</span>
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="">
                    <span *ngIf="loginForm.controls['password'].errors?.required" class="errorText">Password is required.</span>
                    <span *ngIf="loginForm.controls['password'].errors?.passwordCheck && !loginForm.controls['password'].errors?.required" class="errorText">Password should have a digit,LowerCase,Uppercase & atleast 6 charecters.</span>

                </div>
            <br>
            <span class="inputLabel">Re- Enter Password</span>
            <input type="password" title="Re-Enter Password" placeholder="Please Re-Enter Your Password" formControlName="password2"  (ngModelChange)="passwordCheck2()" />
            <span *ngIf="passwordError &&  !loginForm.controls['password2'].errors?.required" class="errorText">Password Mismatch.</span>
                <div *ngIf="loginForm.controls['password2'].invalid && (loginForm.controls['password2'].dirty || loginForm.controls['password2'].touched)" class="">
                    <span *ngIf="loginForm.controls['password2'].errors?.required" class="errorText">Password is required.</span>
                    
                </div>
            <button type="submit" class="btn verifyOtpbtn2" (click)="changePassword()">Reset Password</button>
         </div> 
      </div>
      <div *ngIf="resetBtn">
         <button type="submit" class="btn" (click)="sendResetLink()">Send Reset Link</button><br>
      </div>  
    </form>
  </div>
