<nav>
    <div class="logo">
       Bookmyshow
    </div>
    <div class="search-icon">
       <span class="fas fa-search"></span>
    </div>
 </nav>


 <div class="log-form">
    <div class="d-flex justify-content-center"><h2 class="d-flex justify-content-center">Reset Password</h2></div>
    <form [formGroup]="loginForm">
      <div class="inputFieldConatiner">
         <span class="inputLabel">Enter Your Email</span>
         <input formControlName="email" type="text" title="username" placeholder="Please Enter Your Email"  />
         <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="">
            <span *ngIf="loginForm.controls['email'].errors?.required" class="errorText">Please Enter your Email.</span>
            <span *ngIf="loginForm.controls['email'].errors?.pattern" class="errorText">Please provide a valid email address.</span>
         </div>
         <div *ngIf="showOtp">
            <br><span class="inputLabel">Enter OTP</span><br>
            <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input> <br>
            <span class="errorText" *ngIf="isValidOTP">Invalid OTP</span>
            <button type="submit" class="btn verifyOtpbtn" (click)="verifyOtp()">Verfiy OTP</button>
         </div> 
         <div *ngIf="showChangePassword">
            <br><span class="inputLabel">Enter Password</span><br>
            <input type="password" title="Password" placeholder="Please Enter Your Password"  /><br>
            <span class="inputLabel">Re- Enter Password</span>
            <input type="password" title="Re-Enter Password" placeholder="Please Re-Enter Your Password"  />
            <span class="errorText" *ngIf="showPasswordError">Passwords Mismatch!</span>
            <button type="submit" class="btn verifyOtpbtn2" (click)="changePassword()">Reset Password</button>
         </div> 
      </div>
      <div *ngIf="resetBtn">
         <button type="submit" class="btn" (click)="sendResetLink()">Send Reset Link</button><br>
      </div>  
    </form>
  </div>
