<br><br>
<input type="text" id="myInput" [(ngModel)]="filterText" (change)="filter($event)" placeholder="Search for names.." title="Type in a name">

<div class="d-flex justify-content-center align-items-center">
    <table>
        <thead>
          <tr>
            <th> First Name </th> 
            <th> Gmail</th>
            <th> Current Status</th>
            <th> Change Status</th>    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users"> 
              <th> {{user.firstname}} </th>
              <td> {{user.email}} </td>
              <td> 
                <span *ngIf="user.userstatus == 1">ACTIVE</span> 
                <span *ngIf="user.userstatus == 0">SUSPENDED</span> 
              </td>
              <td> 
                <mat-form-field appearance="fill">
                  <mat-label>Change Status</mat-label>
                  <mat-select (selectionChange)="changestatus($event,user)">
                    <mat-option *ngFor="let food of status" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
          </tr>
        </tbody>
      </table>
</div>
    